
@using CREA3M.Models

@{ //Si se modifica este titulo, se debe modificar el _Layout.cshtml
    ViewBag.Title = "Productos"; }

<!-- modal Galeria -->
<div class="modal fade" id="mGaleria" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Galeria de Imagenes </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="card app-content-body">

                <div class="card-body">

                    <div class="row" id="contentImg">


                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
<!-- modal Galeria FIN -->
<!-- modal Carga de Imagenes -->
<div class="modal fade" id="mCargarImg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Carga de Imagenes </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("SaveUploadedFile","Products")" method="post"
                      class="dropzone"
                      id="my-awesome-dropzone">
                    <input id="idProducto" class="dropzone" name="idProducto" value="" hidden>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- FIN modal Carga de Imagenes -->
<!-- modal Editar de Productos -->
<div class="modal fade" id="mdEditProduct" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <input id="idUsuario" name="prodId" type="hidden" value="">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edicion de Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">

                <form>
                    <input type="text" class="form-control" id="m_np"
                           aria-describedby="emailHelp" placeholder="NP" hidden>

                    <div class="form-group">
                        <label for="exampleInputEmail1">NP</label>
                        <input type="number" class="form-control" id="m_identidicador"
                               aria-describedby="emailHelp" placeholder="NP" disabled>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Producto</label>
                        <input type="text" class="form-control" id="m_producto"
                               aria-describedby="emailHelp" placeholder="Producto">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Descripcion</label>
                        <input type="text" class="form-control" id="m_descripcion"
                               aria-describedby="emailHelp" placeholder="Descripcion">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Categoria</label>
                        <select class="form-control" id="m_categoria"></select>
                        <div id="m-mensaje-marca" class="errores">Selecciona la MARCA </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Unidad de Venta</label>
                        <input type="text" class="form-control" id="m_unidad_venta"
                               aria-describedby="emailHelp" placeholder="Unidad de Venta">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Precio de Venta</label>
                        <input type="number" class="form-control" id="m_precio_venta"
                               aria-describedby="emailHelp" placeholder="Precio de Venta">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" id="editProduct">Editar</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN modal Editar de Productos -->
<!-- modal Carga de Productos -->
<div class="modal fade" id="mCargarProduct" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <input id="idUsuario" name="prodId" type="hidden" value="">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edicion de Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Selecciona MARCA Destino</label>
                    <select class="form-control" id="m_marca">
                        <option value="0">Selecciona Marca</option>
                        @foreach (var marca in (ViewBag.marcas as List<Marca>))
                        {
                            <option value="@marca.idMarcaEcommerce">@marca.marcaEcommerce</option>
                        }
                    </select>
                    <div id="m-mensaje-archivo-marca" class="errores">Selecciona la MARCA </div>
                </div>

                <form class="d-none" id="file-upload">
                    <input type="file" id="excelfile">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cerrar
                </button>
                <button class="btn btn-outline-secondary btn-uppercase btn-block file-upload-btn" >
                    <i class="ti-plus mr-2"></i>Subir archivo
                </button>

            </div>
        </div>
    </div>
</div>
<!-- FIN modal Carga de Productos -->
<!-- modal mVerCategorias -->
<div class="modal fade" id="mVerCategorias" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <input id="idUsuario" name="prodId" type="hidden" value="">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Categorias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group" id="cotendtIdCategorias">
                </div>

                <form class="d-none" id="file-upload">
                    <input type="file" id="excelfile">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- FIN modal mVerCategorias -->

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header font-size-16">
                    <div class="row">

                        <div class="col-md-3">
                            <label for="exampleInputEmail1">MARCA</label>
                            <select class="form-control" id="marca" name="marca">

                                @foreach (var marca in (ViewBag.marcas as List<Marca>))
                                {

                                    <option value=" @marca.idMarcaEcommerce"> @marca.marcaEcommerce </option>
                                }
                            </select>
                            <div id="mensaje-estatus" class="errores">Seleccione un Estatus </div>
                        </div>

                        <div class="col-md-3">
                            <label for="exampleInputEmail1">CATEGORIA</label>
                            <select class="form-control" id="categoria" name="categoria"></select>
                            <div id="mensaje-estatus" class="errores">Seleccione un Estatus </div>
                        </div>

                        <div class="col-md-1">
                            <label for="exampleInputEmail1">BUSCAR</label>
                            <button style=" font-size: 15px; outline:none;" type="submit" onclick="consultaProductos();" class="btn btn-circle btn-outline btn-primary blue m-b-10">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>


                    </div>


                </div>

                <div class="container" style="padding-bottom: 10px; padding-top: 10px">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mCargarProduct">
                            <i class="ti-plus mr-2"></i>Subir archivo
                        </button>

                        <button class="btn btn-primary ">
                            <i class="fa fa-download"></i>
                            <a href="~/assets/productos.xlsx"> -Descarga Formato</a>
                        </button>

                        <button style=" font-size: 15px; outline:none;" id="btnVerCategorias" type="button" data-toggle="modal" data-target="#mVerCategorias" class="btn  btn-info ">
                            <i class="fa fa-eye"></i> Ver Categorias
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header font-size-16">
                    Lista de Productos
                </div>
                <div class="container" id="table-products" style="padding-bottom: 10px; padding-top: 10px">


                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link rel="stylesheet" href="~/assets/css/validacion.css" />
    <link rel="stylesheet" href="~/assets/css/dropzone.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.core.min.js"></script>

}

@Scripts.Render("~/assets/js/product.js")