@model  CREA3M.Models.DetalleProducto
@{ //Si se modifica este titulo, se debe modificar el _Layout.cshtml
    ViewBag.Title = "Productos";
}
<link rel="stylesheet" href="~/assets/css/dropzone.css" />
<link rel="stylesheet" href="~/vendors/nestable/nestable.css" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js"></script>
<!-- modal Galeria -->
<div class="modal fade" id="mGaleria" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Galeria de Imagenes </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="card app-content-body">
                <div class="card-body">
                    <div class="row" id="contentImg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal Galeria FIN -->
<!-- modal Carga de Imagenes -->
<div class="modal fade" id="mCargarImg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Carga de Imagenes </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("SaveUploadedFile","Products")" method="post"
                      class="dropzone"
                      id="my-awesome-dropzone">
                    <input id="idProducto" class="dropzone" name="idProducto" value="" hidden>
                </form>
                @*<div id="drop" class="dropzone"></div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- FIN modal Carga de Imagenes -->
<!-- modal Editar de Productos -->

<div class="modal fade bd-example-modal-lg" id="mdEditProduct" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <input id="idUsuario" name="prodId" type="hidden" value="">
            <div class="modal-header">
                <h5 class="modal-title" id="lblEditProduct">Editar de Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                @*<form id="frmEditProduct">*@
                @using (Ajax.BeginForm("EditarProducto", "Products",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                        //OnBegin = "onBeginSubmitGuardarProducto",
                        //OnComplete = "onCompleteSubmitGuardarProducto",
                        OnFailure = "onFailureResultGuardarProducto",
                    OnSuccess = "onSuccessResultGuardarProducto",
                },
                new { id = "frmEditarProduct" }))
                {


                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="exampleInputEmail1">NP</label>

                            @Html.HiddenFor(x => x.idProductoEcommerce, new { @id = "idProductoEcommerce" })
                            @Html.TextBoxFor(x => x.identificador, null, new { @class = "form-control", @id = "identificador" })
                            @Html.ValidationMessageFor(x => x.identificador, null, new { @class = "text-danger was" })
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="exampleInputEmail1">Producto</label>
                            @*<input type="text" class="form-control" id="m_producto" aria-describedby="emailHelp" placeholder="Producto">*@
                            @Html.TextBoxFor(x => x.producto, null, new { @class = "form-control", @id = "producto" })
                            @Html.ValidationMessageFor(x => x.producto, null, new { @class = "text-danger was" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="exampleInputEmail1">Descripcion</label>
                            @*<input type="text" class="form-control" id="m_descripcion" aria-describedby="emailHelp" placeholder="Descripcion">*@
                            @Html.TextAreaFor(x => x.descripcion, new { @class = "form-control", @id = "descripcion" })
                            @Html.ValidationMessageFor(x => x.descripcion, null, new { @class = "text-danger was" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="exampleFormControlSelect1">Marca</label>
                            @Html.DropDownListFor(x => x.idMarcaEcommerce, new SelectList((ViewBag.marcas as List<CREA3M.Models.Marca>), "idMarcaEcommerce", "marcaEcommerce"), "Selecciona una marca", new { @class = "form-control", @id = "cbMarca" })
                            @Html.ValidationMessageFor(x => x.idMarcaEcommerce, null, new { @class = "text-danger was" })
                        </div>
                    </div>

                    <div class="row">

                        <div class="form-group col-lg-6">
                            <label for="exampleFormControlSelect1">Categoria</label>
                            @*<select class="form-control" id="idCategoriaEcommerce"></select>*@
                            @Html.DropDownListFor(x => x.idCategoriaEcommerce, new List<SelectListItem>(), "Selecciona una categoria", new { @class = "form-control", @id = "idCategoriaEcommerce" })
                            @Html.ValidationMessageFor(x => x.idCategoriaEcommerce, null, new { @class = "text-danger was" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="exampleFormControlSelect1">Subcategoria</label>
                            @*<select class="form-control" id="idCategoriaEcommerce"></select>*@
                            @Html.DropDownListFor(x => x.idSubcategoriaEcommerce, new List<SelectListItem>(), "Selecciona una subcategoria", new { @class = "form-control", @id = "idSubcategoriaEcommerce" })
                            @Html.ValidationMessageFor(x => x.idSubcategoriaEcommerce, null, new { @class = "text-danger was" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="exampleInputEmail1">Unidad de Venta</label>
                            @*<input type="text" class="form-control" id="m_unidad_venta" aria-describedby="emailHelp" placeholder="Unidad de Venta">*@
                            @Html.TextBoxFor(x => x.unidadVenta, null, new { @class = "form-control", @id = "unidadVenta" })
                            @Html.ValidationMessageFor(x => x.unidadVenta, null, new { @class = "text-danger was" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="exampleInputEmail1">Precio de Venta</label>
                            @*<input type="number" class="form-control" id="m_precio_venta"    aria-describedby="emailHelp" placeholder="Precio de Venta">*@
                            @Html.TextBoxFor(x => x.precioVenta, null, new { @class = "form-control", @id = "precioVenta" })
                            @Html.ValidationMessageFor(x => x.precioVenta, null, new { @class = "text-danger was" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="exampleInputEmail1">Costo de Envio</label>
                            @*<input type="number" class="form-control" id="m_precio_venta"    aria-describedby="emailHelp" placeholder="Precio de Venta">*@
                            @Html.TextBoxFor(x => x.costoEnvio, null, new { @class = "form-control", @id = "costoEnvio" })
                            @Html.ValidationMessageFor(x => x.costoEnvio, null, new { @class = "text-danger was" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="cantidad">Cantidad Actual Inventario</label>
                            @Html.TextBoxFor(x => x.cantidad, null, new { @class = "form-control", @id = "cantidadInv" })
                            @Html.ValidationMessageFor(x => x.cantidad, null, new { @class = "text-danger was" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="exampleInputEmail1">SKU</label>                          
                            @Html.TextBoxFor(x => x.SKU, null, new { @class = "form-control", @id = "SKU",@maxlength = "20" })
                           
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="cantidad">Código de barras</label>
                            @Html.TextBoxFor(x => x.codigoBarras, null, new { @class = "form-control", @id = "codigoBarras", @maxlength = "13" })
                      
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <div class="custom-control custom-switch custom-checkbox-dark">

                                <input type="checkbox" class="custom-control-input productActivo"
                                       id="actualizarInv"
                                       unchecked
                                       onclick="onAgregarInventario(event)">
                                <label class="custom-control-label" for="actualizarInv">Actualizar Inventario</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div id="agregarInventatio" style="display:none" class="row">
                                <div class="form-group col-lg-12">
                                    <label for="cantidad">Cantidad Actual Inventario</label>
                                    @Html.TextBoxFor(x => x.cantidadAgregarInventario, null, new { @class = "form-control", @id = "cantidadAgregar" })
                                    @Html.ValidationMessageFor(x => x.cantidadAgregarInventario, null, new { @class = "text-danger was" })
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="cantidadTotal" id="cantidadTotal" class="label-info-crea">Cantidad Actual</label>
                                </div>
                            </div>
                        </div>

                    </div>


                    @*</form>*@


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Cerrar
                        </button>
                        @*<input type="submit" value="Save" />*@
                        <button type="submit" class="btn btn-primary" id="btnGuardarProd">Editar</button>
                        <input type="reset" id="configreset" value="Reset" hidden>

                    </div>
                }

            </div>
                </div>
    </div>
</div>
<!-- FIN modal Editar de Productos -->
<!-- modal Carga de Productos -->
<div class="modal fade" id="mCargarProduct" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <input id="idUsuario" name="prodId" type="hidden" value="">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edicion de Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-9">
                        <label for="exampleFormControlSelect1">Selecciona MARCA Destino</label>
                        <select class="form-control" id="m_marca">
                            <option value="0">Selecciona Marca</option>
                            @foreach (var marca in (ViewBag.marcas as List<CREA3M.Models.Marca>))
                            {
                                <option value="@marca.idMarcaEcommerce">@marca.marcaEcommerce</option>
                            }
                        </select>
                        <div id="m-mensaje-archivo-marca" class="errores">Selecciona la MARCA </div>
                    </div>
                    <div class="form-group  col-md-auto" style="display:flex; flex-direction:column">
                        <label for="">&nbsp;</label>
                        <button class="btn form-control btn-outline-secondary btn-uppercase file-upload-btn">
                            <i class="ti-plus mr-2"></i>Subir archivo
                        </button>
                    </div>
                </div>
                <form class="d-none" id="file-upload">
                    <input type="file" id="excelfile">
                </form>

                <hr />

                <div class="table-responsive">
                    <table id="exceltable" class="table"></table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-success" id="btnGuardarProductos">
                    Guardar
                </button>


            </div>
        </div>
    </div>
</div>
<!-- FIN modal Carga de Productos -->
<!-- modal mVerCategorias -->
<div class="modal fade" id="mVerCategorias" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <input id="idUsuario" name="prodId" type="hidden" value="">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Categorias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group" id="cotendtIdCategorias">
                </div>

                <form class="d-none" id="file-upload">
                    <input type="file" id="excelfile">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- FIN modal mVerCategorias -->

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header font-size-16">
                    <div class="row">

                        <div class="col-md-3">
                            <label for="exampleInputEmail1">MARCA</label>
                            <select class="form-control" id="marca" name="marca">
                                <option value="" selected disabled> Seleccione una marca </option>
                                @foreach (var marca in (ViewBag.marcas as List<CREA3M.Models.Marca>))
                                {

                                    <option value=" @marca.idMarcaEcommerce"> @marca.marcaEcommerce </option>
                                }
                            </select>
                            <div id="mensaje-estatus" class="errores">Seleccione un Estatus </div>
                        </div>

                        <div class="col-md-3">
                            <label for="exampleInputEmail1">CATEGORIA</label>
                            <select class="form-control" id="categoria" name="categoria"></select>
                            <div id="mensaje-estatus" class="errores">Seleccione un Estatus </div>
                        </div>

                        <div class="col-md-3">
                            <label for="exampleInputEmail1">SUBCATEGORIA</label>
                            <select class="form-control" id="subcategoria" name="categoria"></select>
                            <div id="mensaje-estatus" class="errores">Seleccione un Estatus </div>
                        </div>

                        <div class="col-md-1">
                            <label for="exampleInputEmail1">BUSCAR</label>
                            <button style=" font-size: 15px; outline:none;" type="button"  id="btnBuscar" class="btn btn-circle btn-outline btn-primary blue m-b-10">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>



                    </div>


                </div>

                <div class="container" style="padding-bottom: 10px; padding-top: 10px">
                    <div class="">
                        <button style=" font-size: 15px; outline:none;" id="btnVerProductos" type="button" class="btn  btn-success ">
                            <i class="fa fa-eye"></i> Ver todos los productos
                        </button>

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mCargarProduct">
                            <i class="ti-plus mr-2"></i>Subir archivo
                        </button>

                        <button class="btn btn-primary ">
                            <i class="fa fa-download"></i>
                            <a href="~/assets/productos.xlsx" style="color:white">&nbsp; Descarga Formato</a>
                        </button>

                        <button style=" font-size: 15px; outline:none;" id="btnVerCategorias" type="button" data-toggle="modal" data-target="#mVerCategorias" class="btn  btn-info ">
                            <i class="fa fa-eye"></i> Ver Categorias
                        </button>

                        <button style=" font-size: 15px; outline:none;" id="btnDescargarCSV" type="button" data-toggle="modal" data-target="#mDescargarCSVProduct" class="btn  btn-success ">
                            <i class="fa fa-download"></i> Descargar CSV
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header font-size-16">
                    Lista de Productos
                </div>
                <div class="container" id="table-products" style="padding-bottom: 10px; padding-top: 10px">
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link rel="stylesheet" href="~/assets/css/validacion.css" />
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.core.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/packages/jQuery.Validation.1.17.0/Content/Scripts/jquery.validate.js"></script>
    <script src="~/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.11/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/vendors/nestable/jquery.nestable.js"></script>
    <script src="~/assets/js/product.js"></script>
}
@*@Scripts.Render("~/assets/js/product.js")*@

<!-- Style -->


<!-- Javascript -->
