@using CREA3M.Models

@{ //Si se modifica este titulo, se debe modificar el _Layout.cshtml
    ViewBag.Title = "Ordenes"; }


<!-- modal -->
<div class="modal fade" id="mdEditGuia" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <input id="idOrden" name="prodId" type="hidden" value="">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Numero de Guia</label>
                        <input type="text" class="form-control" id="m_guia"
                               aria-describedby="emailHelp" placeholder="Numero de Guia">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" id="editGuia">Editar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal -->
<div class="modal fade" id="mdEditStatus" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <input id="idUsuario" name="prodId" type="hidden" value="">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Selecciona estatus</label>
                        <select class="form-control" id="status">
                            @foreach (var cat in (ViewBag.catStatusOrden as List<CatStatusOrden>))
                            {
                                <option value="@cat.idStatusOrdenCompra"> @cat.statusOrdenCompra </option>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" id="editStatus">Editar</button>
            </div>
        </div>
    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <div class="card">

                <div class="row">
                    <div class="card-body ">
                        <div class="container">
                            @using (Html.BeginForm("Index", "Orders", FormMethod.Post, new { @id = "consultaOrders" }))
                            {
                                <div class="row">
                                    
                                    <div class="col-md-3">
                                        <div class="form-control-wrapper">
                                            <label for="exampleInputEmail1">Fecha Inicio</label>
                                            <input type="text" name="startDate" class="form-control" id="startDate">
                                        </div>
                                        <div id="mensaje-startDate" class="errores">Error fecha Inicio  </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-control-wrapper">
                                            <label for="exampleInputEmail1">Fecha Fin</label>
                                            <input type="text" name="endDate" class="form-control" id="endDate">
                                        </div>
                                        <div id="mensaje-salida" class="errores">Error en fecha salida </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label for="exampleInputEmail1">Filtrar por Estatus</label>
                                        <select class="form-control" id="tipoBusqueda" name="tipoBusqueda">
                                            <option value="-1" selected="selected">BUSQUEDA POR ESTATUS</option>
                                            @foreach (var cat in (ViewBag.catStatusOrden as List<CatStatusOrden>))
                                            {
                                                <option value="@cat.idStatusOrdenCompra"> @cat.statusOrdenCompra </option>
                                            }
                                            <option value="0">TODOS</option>
                                        </select>
                                        <div id="mensaje-estatus" class="errores">Seleccione un Estatus </div>
                                    </div>

                                    <div class="col-md-1">
                                        <label for="exampleInputEmail1">BUSCAR</label>
                                        <button style="width: 100% !important; font-size: 15px;" type="submit" onclick="return validateFormOrderList();" class="btn btn-circle btn-outline blue m-b-10">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header font-size-16">
                    Lista de Pedidos
                </div>
                <div class="container" style="padding-bottom: 10px; padding-top: 10px">

                    <table id="myTable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Id Orden</th>
                                <th>Cliente</th>
                                <th>Telefono Cliente</th>
                                <th>Monto</th>
                                <th>Fecha Orden</th>
                                <th>Guia</th>
                                <th>Status</th>
                                <th>Editar Guia</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in (ViewBag.orders as List<Order>))
                            {
                                <tr>
                                    <td>@order.idOrdenCompra</td>
                                    <td>@order.cliente</td>
                                    <td>@order.telefono</td>
                                    <td>@order.monto</td>
                                    <td>@order.fechaRegistro</td>
                                    <td>@order.guia</td>
                                    <td>
                                        <span class="badge badge-danger"></span>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdEditStatus" data-idorden="@order.idOrdenCompra">
                                            @order.statusOrdenCompra
                                        </button>
                                    </td>
                                    <td>
                                        <span class="badge badge-danger"></span>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdEditGuia" data-guia="@order.guia" data-orden="@order.idOrdenCompra">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <!-- Css -->
    <link rel="stylesheet" href="~/assets/css/validacion.css" />
    <link rel="stylesheet" href="~/vendors/datepicker/daterangepicker.css" type="text/css">
    <!-- Javascript -->
    <script src="~/vendors/datepicker/daterangepicker.js"></script>
}

@Scripts.Render("~/assets/js/order.js")





