@model CREA3M.Models.UserCustomer
@{ //Si se modifica este titulo, se debe modificar el _Layout.cshtml
    ViewBag.Title = "Usuarios";
}
<link rel="stylesheet" href="~/vendors/datepicker/daterangepicker.css" type="text/css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" type="text/css">

<!-- modal Editar de Usuario -->

<div class="modal fade bd-example-modal-lg" id="mdEditUser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <input id="idUsuario" name="userId" type="hidden" value="">
            <div class="modal-header">
                <h5 class="modal-title" id="lblEditUser">Editar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">

                @*<form id="frmEditUser">*@
                @using (Ajax.BeginForm("EditUser", "Usuarios",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnFailure = "onFailureResultSaveUser",
                    OnSuccess = "onSuccessResultSaveUser",
                },
                new { id = "frmEditUser" }))
                {

                    <div class="row">
                        <div class="form-group col-lg-6">
                            @Html.HiddenFor(x => x.idUserEcommerce, new { @id = "idUserEcommerce" })
                            <label for="exampleInputEmail1">Nombre(s)</label>
                            @*<input type="text" class="form-control" id="m_nombre" aria-describedby="emailHelp" placeholder="Nombre(s)">*@
                            @Html.TextBoxFor(x => x.nombre, null, new { @class = "form-control", @id = "nombre" })
                            @Html.ValidationMessageFor(x => x.nombre, null, new { @class = "text-danger was" })
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="exampleInputEmail1">Teléfono</label>
                            @*<input type="number" minlength="10" maxlength="10" length class="form-control" id="m_celular" aria-describedby="emailHelp" placeholder="Teléfono">*@
                            @Html.TextBoxFor(x => x.celular, null, new { @class = "form-control", @id = "celular" })
                            @Html.ValidationMessageFor(x => x.celular, null, new { @class = "text-danger was" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="exampleInputEmail1">E-mail</label>
                            @*<input type="mail" class="form-control" id="m_mail" aria-describedby="emailHelp" placeholder="E-mail">*@
                            @Html.TextBoxFor(x => x.email, null, new { @class = "form-control", @id = "email" })
                            @Html.ValidationMessageFor(x => x.email, null, new { @class = "text-danger was" })
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="exampleInputEmail1">Contraseña</label>
                            <h3>cliente</h3>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Cerrar
                        </button>
                        @*<input type="submit" value="Save" />*@
                        <button type="submit" class="btn btn-primary" id="btnSaveUser">Editar</button>
                        <input type="reset" id="configreset" value="Reset" hidden>

                    </div>


                    @*</form>*@
                }

            </div>
        </div>
    </div>
</div>
<!-- FIN modal Editar de Usuario -->

<div class="container">
    @ViewBag.date_init
    @ViewBag.date_end
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header font-size-16">
                    Lista de Usuarios
                </div>
                <div class="card-body">
                    <div class="row m-b-10">
                        <div class="col-sm-12 col-md-4 col-sm-12 col-xs-12">
                            <label>Selecciona el rango  de fechas</label>
                            <input type="text" name="daterangepicker" class="form-control" id="date_picker">
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label>Tipo de reporte</label>
                            @Html.DropDownList("tipoReporte", (List<SelectListItem>)ViewBag.listReportes, new { @id = "tipoReporte", @class = "select-multiple form-control", data_val = "false" })
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-12 form-group">
                            <label>&nbsp;</label>
                            <button class="btn btn-block btn-primary" id="btnFilter" tooltip="Buscar"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-12 form-group">
                            <label>&nbsp;</label>
                            <button class="btn btn-block btn-info" id="btnAddUser" data-toggle="tooltip" data-original-title="Agregar Cliente CREA"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header font-size-16">
                    Gestión de Usuarios
                </div>
                <div class="container" id="content-table-reportes" style="padding-bottom: 10px; padding-top: 10px">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/vendors/datepicker/daterangepicker.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/packages/jQuery.Validation.1.17.0/Content/Scripts/jquery.validate.js"></script>
<script src="~/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.11/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>
@Scripts.Render("~/assets/js/usuariosEcommerce.js")